Django==2.1.2
djangorestframework
markdown
django-filter
Pillow
djoser
coreapi
pygments
pydotplus
django-extensions
xmltodict
git+https://github.com/boudinfl/pke.git
flair
google_compute_engine
nltk
pycorenlp==0.3.0
pyzmq==16.0.2